/* child */
/* section>div>p{
    color: blue;
} */
/* section>section>div>p{
    color: red;
}  */

/* wont work */
/* section>section>p{
    color: red;
} */

/* adjacent sibling */
/* article + section {
    background-color: yellowgreen;
} */
/* section + article{
    background-color: aqua;
}  */

/* general sibling */
section ~ article{
    background-color: red;
}