*{
    margin: 0;
    padding: 0;
}
div{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
}

/* static position */
/* #static #middle{
    position: static;
    top: 100px;
    right: 100px;
    left: 100px;
    bottom: 100px;
} */

/* relative position */
/* #relative #middle{
    position: relative;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
} */

/* absolute position */
/* #absolute{
    position: relative;
    border: 2px solid black;
}
#absolute #middle{
    position: absolute;
    top: 100px;
} */

/* fixed position */
/* #fixed{
    position: relative;
    border: 2px solid black;
}
#fixed #middle{
    position: fixed;
    top: 0px;
} */

/* sticky postion */
#sticky{
    height: 700px;
    border: 2px solid black;
}
#sticky #middle{
    position: sticky;
    top: 100px;
}