div{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
}

/* static position */
/* #static #middle{
    position: static;
    top: 100px;
    right: 100px;
    left: 100px;
    bottom: 100px;
} */

/* relative position */
#relative #middle{
    position: relative;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
}