.parent{
    width: 70vw;
    border: 5px solid black;
    height: 600px;
    background-color: antiquewhite;
    margin: 40px auto;
    display: flex;

    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */

    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* align-items: flex-start; */
    /* align-items: stretch; */
    /* align-items: center; */
    /* align-items: flex-end; */

   
}

div{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    font-size: 26px;
}
/* div:nth-of-type(2){
    align-self: center;
    align-self: flex-end;
} */

/* div:nth-of-type(5){
    flex-basis: 150px;
    flex-grow: 1;
    flex-shrink: 4;
}
div:nth-of-type(1){
    flex-grow: 1;
    flex-shrink: 1;
} */