<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- i can write html + js -->

    <h1>Hello utkarsh mera fav no. hai <%= 2 + 2 + 3 %></h1>

    <!-- <h1>hello utkarsh mera fav no. hai <%= Math.floor( Math.random() * 100 ) %> </h1> -->

    <h1>hello utkarsh mera fav no. hai <%= number %></h1>
    
    <% if(number % 2 == 0){ %>
        <h1>Even Number</h1>
    <% }esle{ %>
        <h1>Odd Number</h1>
    <% } %>
</body>
</html>